html{
	scroll-behavior: smooth;
	::-webkit-scrollbar{
		display: none;
	}
}
body{
	background-color: #181818;
	color: #fff;
	font-size: 17px;
	padding: 50px 20px 0;
}
h3{
	font-size: 22px;
}
.title{
	text-align: center;
	margin-bottom: 80px;
	font-size: 24px;
}
.button,
.arrow{
	color: #fff;
	width: 80px;
	background-color: rgba(255, 255, 255, 0.1);
	padding: 10px;
	border-radius: 4px;
}
.arrow{
	display: inline-block;
	width: 45px;
	margin-bottom: 20px;
}
.field{
	color: #fff;
	background-color: rgba(255, 255, 255, 0.1);
	padding: 10px;
	border-radius: 4px;
	margin-bottom: 20px;
	width: 100%;
	height: 45px;
}
.task {
	margin-bottom: 70px;

	&__inner {
		margin-bottom: 20px;
	}
	&__title-descr{
		font-size: 18px;
		font-weight: 400;
		margin-bottom: 40px;
	}

}


.second-task{
	&__input-text{
		color: #fff;
		background-color: rgba(255, 255, 255, 0.1);
		border-radius: 2px;
		padding: 30px 20px 20px 20px;
		width: 100%;
		max-width: 400px;
		height: 400px;
		font-size: 16px;
		margin-bottom: 20px;
	}
	&__inner{
		display: flex;
		max-width: 400px;
		margin-bottom: 30px;
	}
	&__input-num{
		background-color: rgba(255, 255, 255, 0.1);
		width: 45px;
		border-radius: 4px;
		padding-left: 5px;
		margin-right: 30px;
	
	}
	&__output{
		color: #fff;
		background-color: rgba(255, 255, 255, 0.1);
		border-radius: 2px;
		padding: 30px 20px 20px 20px;
		width: 100%;
		max-width: 400px;
		font-size: 16px;
		margin-bottom: 20px;
		font-size: 16px;
	}
}
.third-task {
	&__example,
	&__output {
		background-color: rgba(255, 255, 255, 0.1);
		border-radius: 2px;
		width: 190px;
		height: 42px;
		padding: 10px;
	}
}

.fourth-task {
	&__output,
	&__first-input,
	&__second-input {
		color: #fff;
		width: 320px;
		background-color: rgba(255, 255, 255, 0.1);
		padding: 10px;
		border-radius: 4px;
		display: block;
		margin-bottom: 20px;
	}
	&__inner{
		max-width: 320px;
		display: flex;
		justify-content: space-between;
	}
	&__output{
		width: 220px;
		height: 45px;
		display: block;
		cursor: default;
	}
	&__check{
		height: 45px;
	}
}
.fifth-task {

	&__example {
		font-size: 14px;
		margin-bottom: 20px;
	}


	&__solution {
		margin-bottom: 20px;
		font-size: 14px;
	}
}
